@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.contact-secA {
  background: linear-gradient(90deg, rgb(59, 24, 198) 22.12%, #D3CEE6 96.63%);
  padding: 200px 50px 100px 50px;
  position: relative;
  overflow: hidden;
}
.contact-secA::before {
  content: "";
  position: absolute;
  width: 364px;
  height: 300px;
  right: -5%;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-mask-image: url(/assets/images/services/service-bg.png);
          mask-image: url(/assets/images/services/service-bg.png);
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  aspect-ratio: 1.22;
  line-height: 0;
  background: rgba(255, 255, 255, 0.5019607843);
  transitionc: 1s ease-in-out;
}
.contact-secA .heading h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  text-transform: uppercase;
  color: var(--white);
}
.contact-secA .heading p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6980392157);
}
.contact-secA .grid-box {
  display: flex;
  gap: 20px;
  padding: 50px 0 40px 0;
}
.contact-secA .grid-box .col {
  background: var(--white);
  width: 284px;
  height: 174px;
  border-radius: 10px;
  padding: 20px;
}
.contact-secA .grid-box .col .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.contact-secA .grid-box .col .head h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #3107CA;
}
.contact-secA .grid-box .col .head img {
  width: 34px;
  height: 34px;
  -o-object-fit: contain;
     object-fit: contain;
}
.contact-secA .grid-box .col:nth-child(1) p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text);
}
.contact-secA .grid-box .col:nth-child(2) a {
  margin-bottom: 7px;
  display: inline-block;
}
.contact-secA .grid-box .col:nth-child(2) a span {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text);
  transition: 0.5s ease;
}
.contact-secA .grid-box .col:nth-child(2) a span:hover {
  color: var(--primary);
}
.contact-secA .grid-box .col:nth-child(3) a {
  display: block;
  color: var(--text);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 7px;
  transition: 0.5s ease;
}
.contact-secA .grid-box .col:nth-child(3) a:hover {
  color: var(--primary);
}
.contact-secA .bottom-btn a {
  font-weight: 600;
  font-size: 14px;
  line-height: 10px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background: #FFA319;
  border-radius: 25px;
  padding: 16px 24px;
  display: inline-block;
}

.contact-secB {
  height: 100vh;
  overflow: hidden;
}
.contact-secB figure {
  height: 100%;
  line-height: 0;
}
.contact-secB figure video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-secC {
  background: var(--white);
  padding: 70px 0;
}
.contact-secC .heading {
  max-width: 370px;
  margin: auto;
}
.contact-secC .heading h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #3F24A2;
}
.contact-secC .form {
  max-width: 40%;
  margin: 50px auto;
}
.contact-secC .form .submit-btn {
  text-align: center;
  margin-top: 20px;
}
.contact-secC .form .submit-btn button {
  border-radius: 25px;
  padding: 8px 40px;
  background: #FFA319;
  color: var(--white);
  display: inline-block;
}

.contact-secD {
  line-height: 0;
}
.contact-secD iframe {
  border: 0;
}/*# sourceMappingURL=contactus.css.map */