@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.banner {
  overflow: hidden;
}
.banner::before {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 26.44%, rgba(0, 0, 0, 0.55) 100%) !important;
}
@media only screen and (max-width: 1024px) {
  .banner .bg {
    height: 80vh;
  }
}
@media only screen and (max-width: 540px) {
  .banner .bg {
    height: 60vh;
  }
}
.banner figure {
  height: 100%;
}
.banner .banner-wrapper {
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.banner .banner-wrapper .container-fluid {
  margin: inherit;
}
@media only screen and (max-width: 768px) {
  .banner .banner-wrapper .container-fluid {
    position: absolute;
    bottom: 15%;
  }
}
.banner .banner-wrapper .heading {
  max-width: 632px;
}
@media only screen and (max-width: 768px) {
  .banner .banner-wrapper .heading {
    max-width: 100%;
    text-align: center;
  }
}
.banner .banner-wrapper .heading h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 10px;
}
@media only screen and (max-width: 540px) {
  .banner .banner-wrapper .heading h1 {
    font-size: 30px;
    line-height: 1.2;
  }
}
.banner .banner-wrapper .heading p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6980392157);
}
@media only screen and (max-width: 768px) {
  .banner .banner-wrapper .heading p {
    max-width: 70%;
    margin: auto;
  }
}
@media only screen and (max-width: 540px) {
  .banner .banner-wrapper .heading p {
    display: none;
  }
}

.service-secA {
  overflow: hidden;
  background: #F2F2F2;
}
@media only screen and (max-width: 540px) {
  .service-secA {
    padding: 0;
  }
}
.service-secA .heading h2 {
  font-size: 48px;
  font-weight: 700;
}
@media only screen and (max-width: 540px) {
  .service-secA .heading h2 {
    font-size: 40px;
  }
}
.service-secA .flex-box:nth-child(odd) {
  background: #F2F2F2;
}
.service-secA .flex-box:nth-child(even) {
  background: var(--white);
}
.service-secA .flex-box:nth-child(even) .container::before {
  background: rgba(239, 239, 239, 0.5019607843);
  transform: none;
}
.service-secA .flex-box:nth-child(odd) .container {
  flex-direction: row;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.service-secA .flex-box:nth-child(odd) .container::before {
  left: auto;
  right: 0;
  bottom: 0 !important;
  transform: none;
  top: auto;
}
@media only screen and (max-width: 768px) {
  .service-secA .flex-box:nth-child(odd) .container {
    flex-direction: column;
    gap: 40px;
    padding: 50px 20px;
  }
}
@media only screen and (max-width: 540px) {
  .service-secA .flex-box:nth-child(odd) .container {
    padding: 50px 0;
  }
  .service-secA .flex-box:nth-child(odd) .container::before {
    width: 144px;
    height: auto;
  }
}
.service-secA .flex-box:nth-child(even) .container {
  flex-direction: row-reverse;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  top: 60%;
}
@media only screen and (max-width: 768px) {
  .service-secA .flex-box:nth-child(even) .container {
    flex-direction: column;
    gap: 40px;
    padding: 50px 20px 0px 20px;
  }
}
@media only screen and (max-width: 540px) {
  .service-secA .flex-box:nth-child(even) .container {
    padding: 50px 0;
  }
  .service-secA .flex-box:nth-child(even) .container::before {
    width: 144px;
    height: auto;
    bottom: 0 !important;
    transform: none;
    top: auto;
    background: rgb(242, 242, 242);
  }
}
.service-secA .flex-box .container {
  padding: 100px 20px;
  display: flex;
  justify-content: center;
  gap: 90px;
  position: relative;
  overflow: hidden;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .service-secA .flex-box .container {
    gap: 40px;
    padding: 70px 20px;
  }
}
.service-secA .flex-box .container::before {
  content: "";
  position: absolute;
  width: 364px;
  height: 300px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-mask-image: url(/assets/images/services/service-bg.png);
          mask-image: url(/assets/images/services/service-bg.png);
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  aspect-ratio: 1.22;
  line-height: 0;
  background: white;
  transitionc: 1s ease-in-out;
}
@media only screen and (max-width: 540px) {
  .service-secA .flex-box .container .flex-box-item:first-child {
    width: 100%;
  }
}
.service-secA .flex-box .container .flex-box-item:first-child figure {
  width: 582px;
  height: 387px;
  border-radius: 15px;
}
@media only screen and (max-width: 540px) {
  .service-secA .flex-box .container .flex-box-item:first-child figure {
    width: 90%;
    height: 100%;
    margin: auto;
  }
}
.service-secA .flex-box .container .flex-box-item:first-child figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.service-secA .flex-box .container .flex-box-item:last-child {
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .service-secA .flex-box .container .flex-box-item:last-child {
    width: 60%;
  }
}
@media only screen and (max-width: 991px) {
  .service-secA .flex-box .container .flex-box-item:last-child {
    width: 100%;
    text-align: center;
  }
}
.service-secA .flex-box .container .flex-box-item:last-child h3 {
  color: #3F24A2;
  margin-bottom: 40px;
  max-width: 80%;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .service-secA .flex-box .container .flex-box-item:last-child h3 {
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .service-secA .flex-box .container .flex-box-item:last-child h3 {
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: auto;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 540px) {
  .service-secA .flex-box .container .flex-box-item:last-child h3 {
    font-size: 25px;
    line-height: 1.1;
  }
}
.service-secA .flex-box .container .flex-box-item:last-child h3::before {
  content: "";
  bottom: -10px;
  left: 0%;
  position: absolute;
  height: 5px;
  width: 50px;
  background: #FFA319;
}
.service-secA .flex-box .container .flex-box-item:last-child p {
  max-width: 80%;
  color: var(--text);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
@media only screen and (max-width: 1024px) {
  .service-secA .flex-box .container .flex-box-item:last-child p {
    max-width: 100%;
  }
}
@media only screen and (max-width: 540px) {
  .service-secA .flex-box .container .flex-box-item:last-child p {
    font-size: 14px;
  }
}
.service-secA .flex-box .container .flex-box-item:last-child .btn2 {
  margin-top: 40px;
}
.service-secA .flex-box .container .flex-box-item:last-child .btn2 a {
  background: #3107CA;
  padding: 8px 35px;
  color: var(--white);
  border-radius: 25px;
  display: inline-block;
  text-transform: uppercase;
}
.service-secA .flex-box .container .flex-box-item:last-child .btn2 a:hover {
  color: white;
}

.service-detail-secA .banner {
  overflow: hidden;
  position: relative;
}
.service-detail-secA .banner::before {
  background: linear-gradient(90deg, rgba(60, 24, 198, 0.5) 22.12%, #D3CEE6 96.63%) !important;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
}
.service-detail-secA .banner::after {
  background: linear-gradient(270deg, rgba(223, 215, 255, 0.5) 25.48%, #3107CA 100%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
}
@media only screen and (max-width: 768px) {
  .service-detail-secA .banner::after {
    background: linear-gradient(181deg, rgba(223, 215, 255, 0.5) 25.48%, #3107CA 100%);
  }
}
.service-detail-secA .banner .bg {
  height: 100vh;
}
@media only screen and (max-width: 540px) {
  .service-detail-secA .banner .bg {
    height: 50vh;
  }
}
.service-detail-secA .banner .bg .banner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
  bottom: 0;
}
.service-detail-secA .banner .bg .banner-wrapper .container-fluid {
  margin: inherit;
}
.service-detail-secA .banner .bg .banner-wrapper .container-fluid .banner-image {
  position: absolute;
  right: 8%;
  bottom: 0;
  width: 35%;
}
@media only screen and (max-width: 1024px) {
  .service-detail-secA .banner .bg .banner-wrapper .container-fluid .banner-image {
    right: 0;
  }
}
@media only screen and (max-width: 768px) {
  .service-detail-secA .banner .bg .banner-wrapper .container-fluid .banner-image {
    display: none;
  }
}

.service-detail-secB {
  height: 100vh;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .service-detail-secB {
    height: 50vh;
  }
}
.service-detail-secB img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-detail-secC {
  background: var(--white);
  padding: 70px 0;
}
@media only screen and (max-width: 768px) {
  .service-detail-secC {
    padding: 50px 0;
  }
}
.service-detail-secC .flex-box {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
@media only screen and (max-width: 1024px) {
  .service-detail-secC .flex-box {
    gap: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .service-detail-secC .flex-box {
    flex-direction: column;
    gap: 20px;
  }
}
.service-detail-secC .flex-box .col:first-child {
  width: 100%;
  max-width: 65%;
}
@media only screen and (max-width: 768px) {
  .service-detail-secC .flex-box .col:first-child {
    max-width: 100%;
  }
}
.service-detail-secC .flex-box .col:first-child p {
  padding: 0 0 20px 0;
  color: var(--text);
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: justify;
}
@media only screen and (max-width: 540px) {
  .service-detail-secC .flex-box .col:first-child p {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
  }
}
.service-detail-secC .flex-box .col:first-child h2 {
  font-weight: 600;
  font-size: 25px;
  color: black;
  margin: 40px 0 10px 0;
}
.service-detail-secC .flex-box .col:first-child h3 {
  font-weight: 600;
  font-size: 18px;
  color: black;
  margin: 40px 0 10px 0;
}
.service-detail-secC .flex-box .col:first-child h4 {
  font-weight: 600;
  font-size: 16px;
  color: black;
  margin: 40px 0 10px 0;
}
.service-detail-secC .flex-box .col:first-child h5 {
  font-weight: 600;
  font-size: 14px;
  color: black;
  margin: 40px 0 10px 0;
}
.service-detail-secC .flex-box .col:first-child ul {
  margin-bottom: 20px;
  margin-left: 10px;
}
.service-detail-secC .flex-box .col:first-child ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  color: var(--text);
}
.service-detail-secC .flex-box .col:first-child ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--primary);
  transform: translateY(-50%);
}
.service-detail-secC .flex-box .col:last-child {
  width: 100%;
  max-width: 35%;
}
@media only screen and (max-width: 768px) {
  .service-detail-secC .flex-box .col:last-child {
    max-width: 100%;
  }
}
.service-detail-secC .flex-box .col:last-child .form-sec {
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
  width: 100%;
  border-radius: 10px;
  padding: 30px 30px 50px 30px;
}
.service-detail-secC .flex-box .col:last-child .form-sec h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: #3F24A2;
  text-align: center;
  margin-bottom: 30px;
}
@media only screen and (max-width: 540px) {
  .service-detail-secC .flex-box .col:last-child .form-sec .form {
    --item: 1;
  }
}
.service-detail-secC .flex-box .col:last-child .form-sec .form button {
  background: #FFA319;
  padding: 22px 16px;
  color: var(--white);
}

.service-detail-secD {
  position: relative;
  background: var(--white);
}
.service-detail-secD .heading {
  text-align: center;
}
.service-detail-secD .heading h2 {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--primary);
}
.service-detail-secD .heading p {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  color: #000;
  max-width: 630px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .service-detail-secD .heading p {
    font-size: 30px;
  }
}
@media only screen and (max-width: 540px) {
  .service-detail-secD .heading p {
    font-size: 20px;
  }
}
.service-detail-secD .services-container {
  width: 100%;
  padding: 70px 0 20px;
  display: flex;
  gap: 70px;
}
@media only screen and (max-width: 991px) {
  .service-detail-secD .services-container {
    gap: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .service-detail-secD .services-container {
    padding: 50px 0 20px;
    gap: 20px;
  }
}
@media only screen and (max-width: 540px) {
  .service-detail-secD .services-container {
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
  }
}/*# sourceMappingURL=services.css.map */